.back
{

-fx-background-image : url("amr.png");

}
.backmain
{

-fx-background-image : url("gif.jpg");

}
.baky
{

-fx-background-image : url("1.jpg");

}

.pdf
{

-fx-graphic : url("pdf.png");

}

.music
{

-fx-graphic : url("music.png");

}


.html
{

-fx-graphic : url("htmll.png");

}

.cordova
{

-fx-graphic : url("cordova.png");

}


.zomrun
{

-fx-graphic : url("coneheadzombie.gif");

}
.zomburn
{

-fx-graphic : url("burntZombie.gif");

}


.kadysoft
{

-fx-graphic : url("kadysoft.png");

}
.js
{

-fx-graphic : url("jss.png");

}
.game
{

-fx-graphic : url("iconnn.png");

}

.mini
{

-fx-graphic : url("htfrhr.png");

}
.desktop
{

-fx-graphic : url("desktop.png");

}
.web
{

-fx-graphic : url("computer.png");

}
.htmlapk
{

-fx-graphic : url("android.png");

}
.rere
{

-fx-graphic : url("resize.png");

}
.jsapk
{

-fx-graphic : url("apk.png");

}
.gethtml
{

-fx-graphic : url("gethtml.png");

}
.wysiwyg
{

-fx-graphic : url("wysiwyg.png");

}
.resume
{

-fx-graphic : url("resume.png");

}
.simba
{

-fx-graphic : url("simba.png");

}
.wweebb
{

-fx-graphic : url("wweebb.png");

}
.jar
{

-fx-graphic : url("jar.png");

}
.scan
{

-fx-graphic : url("scann.png");

}
.qrcode
{

-fx-graphic : url("qrcode.png");

}
.htmltut
{

-fx-graphic : url("htmltut.png");

}
.csstut
{

-fx-graphic : url("csstut.png");

}
.jstut
{

-fx-graphic : url("jstut.png");

}
.atut
{

-fx-graphic : url("atut.png");

}
.exe
{

-fx-graphic : url("exe.png");

}
.calc
{

-fx-graphic : url("calc.png");

}
.mailer
{

-fx-graphic : url("mailer.png");

}
.mplayer
{

-fx-graphic : url("mplayer.png");

}
.mac
{

-fx-image : url("mac.png");

}
.cppp
{

-fx-graphic : url("cp.png");

}

